<!DOCTYPE html>
<html>
<head>
<title>Life Hacks</title>
</head>
<body>
<table>
	<th>
		<td width="60"></td>
	       <td width="800"><img src="C:\Users\Student\Desktop\neqaneqa\resources\images\logo_gold.png" alt="logo of neka neka" width=50></td>
	       <td  align="left"><a href="podcast">Podcasts |</a>
		<a href="podcast">Articles |</a>
		<a href="podcast">Ideas |</a>
		<a href="podcast">About us |</a>
		<a href="podcast">Contact us</a></td>
		<td width="70"></td>
	 </th>
</table>
<hr>
<tr>
<td></td>
 <td width=700 align="right"><a href="#bottom">Go to bottom</a></td>	
</tr>
<table>
<tr>
<td>
<h1><strong>Eric Hoffer and Power of Self-Education</strong></h1>
<image src = "C:\Users\Student\Desktop\neqaneqa\resources\images\banners\life1.jpg" alt="image of life1" width=60%>
<p>I recently read The True Believer by Eric Hoffer. It’s a book about how mass movements evolve. 
With a lot of historical examples, the book explains the patterns and common threads among them. 
It’s an insightful book and reading it was a great learning experience for me.</p>

<p><img src="noImage" alt="The True Beliver book cover" align="left" width="100" height="100"></p>

<p>What I’d like to share with you here is not the content 
of the book, though. Instead, I’d like to share with you about the author.<br/> </p>

<p>You see, I didn’t know about Eric Hoffer before. But I imagined he must be a famous professor from a well-known university. 
I mean, what else could explain the depth of his insights? The True Believer is an influential book. Here is how 
<a href="0">Wikipedia </a> put it... <a href="0">read more</a></p>	
</td>

<td><h2>Recent posts</h2>
			<ul><li>Articles
				<ul><li>The Importance of Goals, Especially During Difficult Times
				    <li> 5 Steps to Discovering Your Life Purpose In 2022!</ul>
				<li>Ideas
				<ul><li>10 Books to Read in The Fall 
				    <li>Top Web Development Projects Ideas </ul>
			</ul>
		<h2>Most Viewed Articls</h2>
			<ol type=I><li>Instant Gratification Is Stopping You From Reaching Your Goals! 
				    <li>Stop Juggling Between Work And Life
			</ol>
		<h2>IP Project Winners</h2>
		   <pre>
--------------------------------
Rank    Award
--------------------------------
First   Free hosting and support
Second  5GB Mobile Data 
Third   1GB Mobile Data 
--------------------------------
		 </pre>
</td>
</tr>
<td>
<h3><strong> New Podcast </strong></h3>
<h1><strong> Jack Ma-How I Overcame Failure </strong></h1>
<p><audio src = "neqaneqa\resources\audio\Jack Ma - How I Overcame Failure.mp3" type="audio/format" controls><audio>
</p>
<hr>
<h3><strong> Pick of The Week  </strong></h3>
<h1>24 Hours a Day</h1>
<video src="neqaneqa\resources\video\24_HOURS.mp4" controls width="500"></video>			
<hr>
</td>
<tr>
<td>
<p> Follow Us On:<a href "podcast"> Facebook |</a> 
		<a href "podcast">Twitter </a>
</td>
<td>
		<a href="podcast">Privacy |</a>
		<a href="podcast">Terms of Use</a>
</td>
</tr>
<tr>
	<td width="70" align ="center">Copyright &copy; AASTU SEng 2021, All Rights Reserved</td>
</tr>	
</table>
</body>
</html>