<!DOCTYPE html>
<html>
<header>
	<title>Life Hacks </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<meta name="description" content="Eric Hoffer and the Power of Self-Education and other motivational contents" />
   	<meta name="keywords" content="Eric Hoffer, Motivation, Podcast, and Articles" />
    	<meta name="author" content="Yohannes Mengistu" />
    	<meta name="language" content="English" />
</header>
<body>
<table>
<th>
<td width="40"> </td>

<td width="500"> <img src="../../../../resources/images/logo_gold.PNG" width="60" ">


</td>
	
<td>
	<a href="../../../../lab2/life_hacks.html">Home </a>|
	<a href="#">Articles </a>|
	<a href="#">Ideas </a>|
	<a href="signin.html">Sign in </a>|
	<a href="#">Register </a>|
	
	</td>
	<td width="30">

</th>
</table>

<hr>

<table>

<tr align="right">
	<td width="5%"></td>
	<td width="60%"></td>	
	<td><a href="#bottom">Go To Bottom </a></td>
	<td width="5%"
</tr>

<tr>
	<td></td>
	<td></td>
	<td valign="top"><h4>Recent Posts</h4></td>
</tr>
<tr>
	<td></td>
	<td valign="top">
			<h2>Register</h2>
		
<form>
	<div>
		<label for="Full name"> Full name</label><br>
		<input type="text" id="Full name" max="50" required>
	</div>
	<div>
		<label for="Phone"> Phone</label><br>
		<input type="tel" id="Phone" max="10">
	</div>
	<div>
		<label for="Age"> Age</label><br>
		<input type="number" id="Age" max="100">
	</div>
	<div>
                    <label for="color">Your Favorite Color</label><br />
                    <input type="color" id="color" /><br />
	</div>
	<div>
		<label for="Birthday">Birthday</label><br>
		<input type="date" name="Birthday" id="Birthday" required>
	</div>
	<div>
		<h4>Gender</h4>
		<input type="radio" id="female"  name ="gender" value="female">
		<label for="female"> Female</label>
		<input type="radio" id="male"  name ="gender" value="male">
		<label for="male"> Male</label>		
	</div>
	<div>
		<label for="Password"> Password:</label>
		<input type="Password" id="Password" placeholder="Password" >
	</div>
	<div>
		<label for="Password"> Password:</label>
		<input type="Password" id="Password" placeholder="Password" >
	</div>
	 <div>
		    <label for="password">Password</label><br />
                    <input type="password" id="password" minlength="6" maxlength="32" required size="50%" /><br />
                    <label for=" password ">Confirm Password</label><br />
                    <input type="password " id="password " minlength="6 " maxlength="32 " required size="50%" /><br />

	</div>
	<div>	Skills<br/>
		<input type="checkbox" id="html"  name ="skill" value="html">
		<label for="html"> html</label><br/>
		<input type="checkbox" id="CSS"  name ="skill" value="CSS">
		<label for="CSS"> CSS</label><br/>
		<input type="checkbox" id="javascript"  name ="skill" value="javascript">
		<label for="javascript"> javascript</label><br/>
		<input type="checkbox" id="PHP"  name ="skill" value="PHP">
		<label for="PHP"> PHP</label><br/>
	</div>

	<div>
		<label for="country">Country</label><br />
                            <select name="country" id="country">
              <option value="ethiopia" selected>Ethiopia</option>
              <option value="kenya">Kenya</option>
              <option value="somalia">Somalia</option>
              <option value="djibouti">Djibouti</option>
              <option value="sudan">Sudan</option>
              <option value="eritrea">Eritrea</option>
            </select>
	</div>
	<div>
			<label for="photo">Photo</label><br />
                            <input type="file" id="photo" name="avatar" accept="image/png, image/jpeg" /><br />
                            <label for="describe">Describe Yourself</label><br />
                            <textarea id="describe" rows="8" cols="50%" placeholder="Say Something"></textarea>
	</div>
	<div>
		<input type="submit" value="Submit" />
            	<input type="Reset"/>
	</div>

</form>
	</td>



	
<td valign="top">
	<ul>
	<li><b>Articles</b></li>
		<ul>
		<li>The Importance of Goals, Especially During Difficult Times</li>
		<li>5 Steps to Discovering Your Life Purpose In 2022!</li>	
		</ul>
	<li><b>Ideas</b></li>
		<ul>
		<li>10 Books to Read in The Fall</li>
		<li>Top Web Development Projects Ideas</li>
		</ul>
	</ul>
	<h4>Most Viewed Articles</h4>
	<ol type="I">
	<li> Instant Gratification Is Stopping YouFrom Reaching Your Goals!</li>
	<li> top Juggling Between Work And Life</li>	
	</ol>
	<h4>IP Project Winners</h4>
	<pre>
------------------------------------------
Rank    Award
------------------------------------------
First   Free hosting and supportSecond  
5GB 	Mobile DataThird   1GB Mobile Data
------------------------------------------ 
	</pre>
	</td>
		
	<td width="70"></td>
	</tr>
        <tr> 
		<td width="70"></td>
		<td><hr noshade/>
		<h5>New Podcast</h5>
		<h3>Jack Ma - How I Overcame Failure</h3>
		<audio src="..\..\..\..\resources\audio\Jack Ma - How I Overcame Failure.mp3" controls></audio>
		<hr noshade/>
		<h5>Pick of the week</h5>
		<h2>24 Hours a Day</h2>
		<video width="500" height="350" src="..\..\..\..\resources\video\24_HOURS.mp4" controls></video>
		<hr noshade/>


		</td>
		<td></td>
		<td width="70"></td>		
	
	</tr>
<tr>
<td></td>	
	<td>Follow Us On: <a href="http://www.facebook.com/">Facebook</a>|<a href="http://www.twitter.com">Twitter</>
	</td>
	<td><a href="#">Privacy</a>|<a href="#">Twitter</>
	</td>

</tr>
<tr>

<td colspan="3" align="center">Copyright &copy; AASTU SEng 2021, All Rights Reserved</td>

</tr>

</tbody>
</table>
</body>
</html>