<!DOCTYPE html>
<html>
<header>
	<title>Life Hacks </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<meta name="description" content="Eric Hoffer and the Power of Self-Education and other motivational contents" />
   	<meta name="keywords" content="Eric Hoffer, Motivation, Podcast, and Articles" />
    	<meta name="author" content="Yohannes Mengistu" />
    	<meta name="language" content="English" />
</header>
<body>
<table>
<th>
<td width="40"> </td>

<td width="500"> <img src="resources/images/logo_gold.PNG" width="60" ">


</td>
	
<td>
	<a href="#">Podcasts </a>|
	<a href="#">Articles </a>|
	<a href="#">Ideas </a>|
	<a href="sign in.html">Sign in </a>|
	<a href="#">Register </a>|
	
	</td>
	<td width="30">

</th>
</table>

<hr>

<table>

<tr align="right">
	<td width="5%"></td>
	<td width="60%"></td>	
	<td><a href="#bottom">Go To Bottom </a></td>
	<td width="5%"
</tr>

<tr>
	<td></td>
	<td></td>
	<td valign="top"><h4>Recent Posts</h4></td>
</tr>
<tr>
	<td></td>
	<td valign="top">
			<h2>Sign in</h2>
		 SIGN IN AND GET FULL ACCESS TO OUR RESOURCES
<form>
	<div>
		<label for="Username"> Username:</label>
		<input type="email" id="Username" placeholder="email">
	</div>
	<div>
		<label for="Password"> Password:</label>
		<input type="Password" id="Password" placeholder="Password" >
	</div>
	<div>
		<input type="submit" id="Username" value="Sign in">
	</div>
</form>
	</td>



	
<td valign="top">
	<ul>
	<li><b>Articles</b></li>
		<ul>
		<li>The Importance of Goals, Especially During Difficult Times</li>
		<li>5 Steps to Discovering Your Life Purpose In 2022!</li>	
		</ul>
	<li><b>Ideas</b></li>
		<ul>
		<li>10 Books to Read in The Fall</li>
		<li>Top Web Development Projects Ideas</li>
		</ul>
	</ul>
	<h4>Most Viewed Articles</h4>
	<ol type="I">
	<li> Instant Gratification Is Stopping YouFrom Reaching Your Goals!</li>
	<li> top Juggling Between Work And Life</li>	
	</ol>
	<h4>IP Project Winners</h4>
	<pre>
------------------------------------------
Rank    Award
------------------------------------------
First   Free hosting and supportSecond  
5GB 	Mobile DataThird   1GB Mobile Data
------------------------------------------ 
	</pre>
	</td>
		
	<td width="70"></td>
	</tr>
        <tr> 
		<td width="70"></td>
		<td><hr noshade/>
		<h5>New Podcast</h5>
		<h3>Jack Ma - How I Overcame Failure</h3>
		<audio src="resources\audio\Jack Ma - How I Overcame Failure.mp3" controls></audio>
		<hr noshade/>
		<h5>Pick of the week</h5>
		<h2>24 Hours a Day</h2>
		<video width="500" height="350" src="resources\video\24_HOURS.mp4" controls></video>
		<hr noshade/>


		</td>
		<td></td>
		<td width="70"></td>		
	
	</tr>
<tr>
<td></td>	
	<td>Follow Us On: <a href="http://www.facebook.com/">Facebook</a>|<a href="http://www.twitter.com">Twitter</>
	</td>
	<td><a href="#">Privacy</a>|<a href="#">Twitter</>
	</td>

</tr>
<tr>

<td colspan="3" align="center">Copyright &copy; AASTU SEng 2021, All Rights Reserved</td>

</tr>

</tbody>
</table>
</body>
</html>